@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    text-align: center;
    padding: 0;
    /* background-color: #2e414b; */
    background-image: url("https://www.itl.cat/pics/b/30/307918_dark-abstract-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    height: 15vh;
    line-height: 15vh;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
}

.main {
    height: 70vh;
    margin: auto;
}

.main div {
    padding: 10px;
}

.text-div {
    background-color: #404040;
    border-radius: 10px 0 0 10px;
}

#text {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    background-color: #0d0d0d;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#text::placeholder {
    color: #fff;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #404040;
    border-radius: 0 10px 10px 0;
    color: whitesmoke;
}

.info-div .analyze {
    background-color: #0d0d0d;
}

.info-div .analyze:hover {
    border-color: #fff;
}

.info-div .analyze,
.info-div p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
}

.info-div p span {
    color: lime;
}

@media only screen and (max-width: 960px) {
    .text-div {
        border-radius: 10px 10px 0 0;
    }
    .info-div {
        border-radius: 0 0 10px 10px;
    }
}

.row {
    margin: auto;
}

.footer {
    border-radius: 10px 10px 0 0;
    margin-top: 4vh;
    height: 10.1vh;
    line-height: 10.1vh;
    background-color: #404040;
    width: 100%;
    color: whitesmoke;
    font-size: 1.4rem;
}

.fa-heart {
    color: #fe2020;
}

.link {
    color: whitesmoke;
}

.link:hover {
    color: lime;
    text-decoration: none;
}

@media only screen and (max-width: 720px) {
    .info-div p,
    .footer,
    .analyze {
        margin: 5px;
        font-size: 1em;
    }
}
